<h1>Mes réservations</h1>
<% @offers.each do |offer| %>

<div class="card-product">
  <img src="<%= offer.game.photo %>" />
  <div class="card-product-infos">

  <h2>voici une offre <%= offer.title %></h2>
  <p>et sa description<%= offer.description %></p>

  </div>
</div>

<% end %>

<!-- code couleurs de la homepage : Space Cadet #1D3461, Fresh Air #B0D7FF, Gainsbord #D8D5DB -->
