<!-- app/views/admin/restaurants/index.html.erb -->
<h1>My list of offers</h1>
<% @offers.each do |offer| %>
  <h2>voici une offre <%= offer.title %></h2>
  <p>et sa description<%= offer.description %></p>
<% end %>
