// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gainsbord: #D8D5DB;
$fresh-air: #B0D7FF;
$space-cadet: #1D3461;
$venetian-red: #C10515;
$heat-wave: #FF7A00;
