.dashboard-banner {
  background: $space-cadet;
  height: 200px;
  position: relative;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.header1-dashboard {
  color: white;
  padding: 15px;
}

.dashboard-avatar {
  position: absolute;
  top: 230px;
  left: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 0;
}

.coordinates {

}

h4 {
  color: white;
}

.ludotech {
  color: $space-cadet;
  justify-content: left;
}

.ludotech:hover {
  text-decoration: none;
}
