<nav class="navbar navbar-expand-lg navbar-light ">
  <i class="fas fa-dice"></i>
  <a class="navbar-brand" href="#">LudoTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary" href="#">Sign in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="banner">
  <div class="container">
    <h1>LudoTech</h1>
    <p>La plateforme pour louer vos jeux favoris</p>
  </div>
</div>

<div>
  <form action="Search">
    <input type="text" name="search-bar" placeholder="Search a game!">
    <input type="submit">
  </form>
</div>

<div class="footer">
  <div class="list-footer">
    <h2>Discover LudoTech</h2>
  </div>
   <div class="list-footer">
    <h2>coming soon</h2>
  </div>
   <div class="list-footer">
    <h2>Become a member</h2>
  </div>
</div>
