<h1>3D Rotating Carousel Examples</h1>

<h2>Three images</h2>
<div class="carousel">
  <figure>
    <%= image_tag "board-game-3024839_640.jpg", alt: "First slide", class:"d-block h-55 mx-auto"  %>
            <div class="carousel-caption d-none d-md-block">
              <h5>...</h5>
              <p>...</p>
            </div>
    <%= image_tag "chess-3960184_640.jpg", alt: "Second slide", class:"d-block h-55 mx-auto"  %>
            <div class="carousel-caption d-none d-md-block">
              <h5>...</h5>
              <p>...</p>
            </div>
    <%= image_tag "mahjong-945011_640.jpg", alt: "Third slide", class:"d-block h-55 mx-auto"  %>
            <div class="carousel-caption d-none d-md-block">
              <h5>...</h5>
              <p>...</p>
            </div>
  </figure>
  <nav>
    <button class="nav prev">Prev</button>
    <button class="nav next">Next</button>
  </nav>
</div>
