<h1>Mes jeux</h1>
<% @games.each do |game| %>

<div class="card-product">
  <img src="http://www.online-casinos-707.net/wp-content/uploads/2017/09/jeux-de-societe.jpg" />
  <div class="card-product-infos">

  <h2>voici une offre <%= game.title %></h2>
  <p>et sa description<%= game.description %></p>

  </div>
</div>

<% end %>

<!-- code couleurs de la homepage : Space Cadet #1D3461, Fresh Air #B0D7FF, Gainsbord #D8D5DB -->
