<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.online-casinos-707.net/wp-content/uploads/2017/09/jeux-de-societe.jpg);">
  <div class="container">
    <h1>Ludotech</h1>
    <h4>Changez votre quotidien, apportez du jeu dans vos vies !</h4>
  </div>
</div>



<div class="cards container">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer), class: "card-game d-flex" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= offer.game.photo %>)">
        <div>
          <h3 class= "link-to-show"> <%= offer.game.name %> </h3>
          <p> <%= offer.game.user.username %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



