.navbar-lewagon {
  justify-content: space-between;
  background: $gainsbord;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.ludotech {
  color: $space-cadet;
}
